a {
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  height: 50px;
  justify-content: center;
}

.nav-item {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  color: black;
  margin-left: 10px;
  margin-right: 50px;
  padding: 10px;
}

.nav-item:hover{
  font-weight: bold;
}

.topbanner-container {
  display: flex;
}

.topbanner {
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
}

.map-container{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

button{
  font-family: 'Amatic SC', cursive;
  font-size: 15px;
  color: #65686d;
  background: rgba(0,0,0,0);
  border: solid 3px #aeb3ba;
}

button:hover{
  border-color: #5f666d;
  color: #5f666d;
}

button:active{
  border-color: #27292b;
  color: #27292b;
}

.mainmap{
  display: block;
  margin: 0 auto;
  /*text-align: center;*/
  width: 80%;
}

.markerButton {
    margin-top: 10px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Amatic SC', cursive;
    font-size: 15px;
    color: #65686d;
    background: rgba(0,0,0,0);
    border: solid 3px #aeb3ba;
    width: 20%;
    border-radius: 10%;
    position: absolute;
    background: white;
}

.markerForm {

}

.markerIcon {
    width: 2em;
    height: 2em;
    position: absolute;
}

/*.slide {
    border: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}
.showMe {opacity: 1;}*/
