<div class="topbanner-container">
    <div class="topbanner"><a href="index.ejs"><img src="logo.png" width="30%"/></a></div>
</div>
<div class="nav-container">
    <div class="nav-item"><a href="index.ejs">Home</a></div>
    <div class="nav-item"><a href="gallery.html">Photos</a></div>
    <div class="nav-item"><a href="calendar.html">Calendar</a></div>
</div>
